<h1>Bienvenido al Sistema de Adopción de Animales Domésticos</h1>
<p>Seleccione una opción para administrar los datos:</p>

<mat-table [dataSource]="dataSource" mat-sort>
  <ng-container matColumnDef="Action">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let element, let animales">
      <button class="btn btn-success" [class.selected]="animales === selectedAnimal" mat-menu-item [routerLink]="['/edit/', animales.id_animal]">Modificar</button>
      <button class="btn btn-danger" [class.selected]="animales === selectedAnimal" mat-menu-item (click)="deleteAnimal(animales.id_animal)">Eliminar</button>
      <button class="btn btn-info" [class.selected]="animales === selectedAnimal" mat-menu-item (click)="onSelect(animales)">Detalles</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let animales">{{animales.nombre}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="vacuna">
    <mat-header-cell *matHeaderCellDef>Vacunas</mat-header-cell>
    <mat-cell *matCellDef="let animales"> {{animales.vacuna}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="adoptado">
    <mat-header-cell *matHeaderCellDef>Adoptado por:</mat-header-cell>
    <mat-cell *matCellDef="let animales"> {{animales.adoptado}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="caracteristicas">
    <mat-header-cell *matHeaderCellDef>Características</mat-header-cell>
    <mat-cell *matCellDef="let animales"> {{animales.caracteristicas}} </mat-cell>
  </ng-container>

  <mat-header-row class="mat-table-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[3, 5, 10]"
               showFirstLastButtons
               aria-label="Seleccionar pagina">
</mat-paginator>

<app-animal-detalles [animal]="selectedAnimal"></app-animal-detalles>
